body{background-color:black;}



h1{
color:red;}

h2{
color:green;}


p{font-family:"arial";
font-size:20px;
color:white;
text-align:center;}

img{
border-radius:5%}
a{color:skyblue;}